langchain==0.1.20
langchain-core==0.1.52
langchain-openai==0.1.25
langchain-community==0.0.38
langchain-text-splitters==0.0.1
langchain_chroma==0.1.2
docx2txt
pypdf
python-multipart
fastapi
uvicorn
streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
docker
nltk 
sentence-transformers
