langchain
langchain-openai
langchain-core
langchain_community
langchain-text-splitters
langchain_chroma
docx2txt
pypdf
python-multipart
fastapi
uvicorn
streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
docker
nltk 
sentence-transformers
